<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>imagesList</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="data/sensor.js"></script>
    <!--        <script type="text/javascript" src="./data/sensor.js"></script>-->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<!--<div class="layui-card">-->
<!--   &nbsp;&nbsp;&nbsp;&nbsp; 服务地址:<input type="text" name="" placeholder="请输入"  style="height: 25px;" id="input_server"  >-->
<!--<input type="button" onclick="saveInfo()"  class="layui-btn layui-btn-normal" value="save">-->
<!--</div>-->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                      <table id="tab_main" class="layui-table">
                          <thead>
                              <td>ID</td>
                              <td>RepoTags</td>
                              <td>SHID</td>
                              <td>size</td>
                              <td>time</td>
                          </thead>
                          <tbody id="tab_main_body">

                          </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/html" id="toolbarDemo">
    <div class = "layui-btn-container" >
        <button class = "layui-btn layui-btn-danger"   lay-event = "delete" > 删除</button>
        {{# if(d.status!=2){ }}
        <button class = "layui-btn layui-btn-sm"   lay-event = "updateWarningInfo" > 确定</button>
        {{# } }}
    </div >
</script>

<script type="text/javascript">

    // setInterval(function(){
    //    // initData();
    // },1000);
    function showDetailsByMin(){
        xadmin.open('详细信息','warningList.html');
    }

    $(function () {
        //initServerUrl();
        searchInfo();
    });

    function initServerUrl(){
        let resultData=sensorServer.getConfigInfo({"key":"ip"});
        $("#input_server").val(resultData);
    }
    function saveInfo(){
        let input=$("#input_server").val();
        let resultData=sensorServer.saveConfigInfo({"key":"ip","value":input});
        if(resultData==1){
            alert("successful!")
        }else{
            alert("failed!!!!!!1")
        }
    }


    function searchInfo(){
        getData(1,1000)
    }

    //setInterval(searchInfo,5000);

    //请求数据
    function getData(page,limit) {
        var resultData;
        let sensorPid=$("#select_address").val();
        var params={"page":page,"rows":limit,"sensorPid":sensorPid}
        resultData = sensorServer.getImagesList(params);
        debugger;
        refData(resultData.data);
    }

    function refData(dataList){

        for (i=0;i<dataList.length;i++){
            let countPid=$("#tab_main_body tr").length+1;

            let strRepoTags="";
            for (j=0;j<dataList[i].RepoTags.length;j++){
                strRepoTags+=dataList[i].RepoTags[j]+"<br>";
            }



            let tr="<tr>"
                +"<td>"+countPid+"</td>"
                +"<td>"+strRepoTags+"</td>"
                +"<td>"+dataList[i].Id+"<br>"+dataList[i].ParentId+"</td>"
                +"<td>"+(dataList[i].Size/1024/1024).toFixed(2)+"M</td>"
                +"<td>"+timestampToTime(dataList[i].Created)+"</td>"
                +"</tr>";
            $("#tab_main_body").prepend(tr);
        }

    }

    function timestampToTime(timestamp) {
        var date = new Date(timestamp * 1000)
        var Y = date.getFullYear() + '-'
        var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-'
        const D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' '
        const h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':'
        const m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':'
        const s = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds())
        return Y + M + D + h + m + s
    }




</script>


</html>
